{% extends "base.html" %}

{% block title %} Add Rating {% endblock %}

{% block content %}
<div class="container mt-5">
    <br>
    <br>
    {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row align-items-center">
        <div class="col-md-8">
            <h1 class="page-title">New Rating System</h1>
        </div>
        <div class="col-md-4 text-right">
            <a href="/viewRatingSystems" class="btn btn-primary">View Rating Systems</a>
        </div>
    </div>
    <form id="ratingForm" method="POST" action="/createRating" class="p-4 bg-light shadow-sm rounded">
        <div class="form-group mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" id="title" name="title" class="form-control"
                   placeholder="Enter title for the rating system" required>
        </div>
        <div class="form-group mb-3">
            <label for="rating1" class="form-label">Rating 1:</label>
            <input type="text" id="rating1" name="rating1" class="form-control"
                   placeholder="(eg. Need Improvement)" required>
            <input type="text" id="range1" name="range1" class="form-control mt-2"
                   placeholder="(eg. 1 - 1.40)" min="0" max="100" required>
        </div>
        <div class="form-group mb-3">
            <label for="rating2" class="form-label">Rating 2:</label>
            <input type="text" id="rating2" name="rating2" class="form-control"
                   placeholder="(eg. Not satisfactory)" required>
            <input type="text" id="range2" name="range2" class="form-control mt-2"
                   placeholder="(eg. 1.41-2.20)" min="0" max="100" required>
        </div>
        <div class="form-group mb-3">
            <label for="rating3" class="form-label">Rating 3:</label>
            <input type="text" id="rating3" name="rating3" class="form-control"
                   placeholder="(eg. Neutral)" required>
            <input type="text" id="range3" name="range3" class="form-control mt-2"
                   placeholder="(eg. 2.21-3.10)" min="0" max="100" required>
        </div>
        <div class="form-group mb-3">
            <label for="rating4" class="form-label">Rating 4:</label>
            <input type="text" id="rating4" name="rating4" class="form-control"
                   placeholder="(eg. Satisfactory)" required>
            <input type="text" id="range4" name="range4" class="form-control mt-2"
                   placeholder="(eg. 3.10-4.10)" min="0" max="100" required>
        </div>
        <div class="form-group mb-3">
            <label for="rating5" class="form-label">Rating 5:</label>
            <input type="text" id="rating5" name="rating5" class="form-control"
                   placeholder="(eg. Very Satisfactory)" required>
            <input type="text" id="range5" name="range5" class="form-control mt-2"
                   placeholder="(eg. 4.21-5)" min="0" max="100" required>
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary px-5">Create</button>
        </div>
    </form>
</div>
{% endblock %}
